@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout-v4.cshtml";
}

<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Role List
        </div>
        <div class="card-body">
            <!--Add/Edit Form-->
            <div class="form-horizontal" id="divRoleForm" style="display: none;">
                <form role="form" id="frmRole">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="hidden" name="RoleId" id="RoleId">
                            <input type="text" name="RoleName" id="RoleName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary" id="btnRoleSave">Save</button>
                            <button type="button" class="btn btn-warning" id="btnRoleCancel">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

            <!--Add/Edit Form-->
            <div id="divRoleAdd">
                <div style="padding-bottom: 10px;" class="pull-right">
                    <input type="button" value="Add" class="btn btn-primary" id="btnRoleAdd" />
                </div>
            </div>

            <!--jq DataTable-->
            <div id="divRoleDataTable">

                <table id="roleDataTable" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 155px;">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>

        </div>
        <div class="card-footer small text-muted"></div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/App/role.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
                Role.init();
                Role.loadDataTable("/Role/GetDataTablesAjax");
            });
    </script>
}
