
@{
    ViewBag.Title = "Chart";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/chartjs/dist/Chart.bundle.js"></script>
<script src="~/Scripts/app.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


<div class="row" style="padding-top:50px">
    <div class="col-md-12">
        <button class="btn btn-primary pull-right" id="printOut">Print</button>
        <div id="chart_container">
            <canvas style="background-color:#fff;padding-top:50px" id="myChart"></canvas>
        </div>

        <div align="center">
            <input type="radio" value="bar" name="chartType" /> Bar Chart &nbsp;&nbsp;&nbsp;
            <input type="radio" checked="checked" value="line" name="chartType" /> Line Chart
        </div>

    </div>

</div>


<script type="text/javascript">
    
    $(document).ready(function () {
        
        @*function LoadChart(selectedChartType) {
            var obj = {
                chartType: selectedChartType
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetChartData","Home")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(obj),
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    var labels = data.Labels;
                    var series = data.Series;
                    var chartType = selectedChartType;
                    var chartName = data.ChartName;
                    PopulateChart(labels, series, chartType, chartName);
                }
            });

        }*@
               

    });

</script>
