@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_rabappLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="professional-info">
            <div class="profile-view">
                <div class="col-md-2">
                    <img alt="profile-pic" class="profile-picture" src="~/Content/img/logo.jpg" />
                </div>
                <div class="col-md-4 profile-data">
                    <h4>Welcome</h4>
                    <h2>Rasel   Ahmmed</h2>
                    <p>Dhaka</p>
                </div>
                <div class="col-md-3 profile-record">
                    <div class="pull-left icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                    <div class="pull-left">
                        <span>
                            <span class="profile-record-count">
                                15
                            </span> <span>Patients</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 profile-nav">
                        <h5>Quick Browse</h5>
                        <button type="button" class="btn btn-secondary">Go To Dashboard</button>
                </div>
            </div>
        </div>
    </div>
</div>