
@{
    ViewBag.Title = "Internal Server Error";
}
<div class="col-md-12">
    <h1 class="text-danger">Internal Server Error.</h1>
    <h2 class="text-danger">@MessageConstantHelper.Error500</h2>
</div>
