@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout-v4.cshtml";
    //Layout = "~/Views/Shared/_Layout-v2.cshtml";
    //Layout = "~/Views/Shared/_Layout-v3.cshtml";
}

@*<div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
</div>*@

<div class="col-md-12">
    <div class="jumbotron" style="padding: 10px;">
        <h1>Security Management</h1>
    </div>
</div>

