.flag { 
	display: inline-block; 
	background-repeat: no-repeat;
}
.flag-16 {
	width: 16px;
	height: 11px;
	background:url(img/flags-16.png) no-repeat
}
.flag-18 {
	width: 18px;
	height: 12px;
	background:url(img/flags-18.png) no-repeat
}
.flag-25 {
	width: 25px;
	height: 15px;
	background:url(img/flags-25.png) no-repeat
}
.flag.flag-16.flag-ad {background-position: -16px 0}
.flag.flag-16.flag-ae {background-position: -32px 0}
.flag.flag-16.flag-af {background-position: -48px 0}
.flag.flag-16.flag-ag {background-position: -64px 0}
.flag.flag-16.flag-ai {background-position: -80px 0}
.flag.flag-16.flag-al {background-position: -96px 0}
.flag.flag-16.flag-am {background-position: -112px 0}
.flag.flag-16.flag-an {background-position: -128px 0}
.flag.flag-16.flag-ao {background-position: -144px 0}
.flag.flag-16.flag-ar {background-position: -160px 0}
.flag.flag-16.flag-as {background-position: -176px 0}
.flag.flag-16.flag-at {background-position: -192px 0}
.flag.flag-16.flag-au {background-position: -208px 0}
.flag.flag-16.flag-aw {background-position: -224px 0}
.flag.flag-16.flag-az {background-position: -240px 0}
.flag.flag-16.flag-ba {background-position: 0 -11px}
.flag.flag-16.flag-bb {background-position: -16px -11px}
.flag.flag-16.flag-bd {background-position: -32px -11px}
.flag.flag-16.flag-be {background-position: -48px -11px}
.flag.flag-16.flag-bf {background-position: -64px -11px}
.flag.flag-16.flag-bg {background-position: -80px -11px}
.flag.flag-16.flag-bh {background-position: -96px -11px}
.flag.flag-16.flag-bi {background-position: -112px -11px}
.flag.flag-16.flag-bj {background-position: -128px -11px}
.flag.flag-16.flag-bm {background-position: -144px -11px}
.flag.flag-16.flag-bn {background-position: -160px -11px}
.flag.flag-16.flag-bo {background-position: -176px -11px}
.flag.flag-16.flag-br {background-position: -192px -11px}
.flag.flag-16.flag-bs {background-position: -208px -11px}
.flag.flag-16.flag-bt {background-position: -224px -11px}
.flag.flag-16.flag-bv {background-position: -240px -11px}
.flag.flag-16.flag-bw {background-position: 0 -22px}
.flag.flag-16.flag-by {background-position: -16px -22px}
.flag.flag-16.flag-bz {background-position: -32px -22px}
.flag.flag-16.flag-ca {background-position: -48px -22px}
.flag.flag-16.flag-catalonia {background-position: -64px -22px}
.flag.flag-16.flag-cd {background-position: -80px -22px}
.flag.flag-16.flag-cf {background-position: -96px -22px}
.flag.flag-16.flag-cg {background-position: -112px -22px}
.flag.flag-16.flag-ch {background-position: -128px -22px}
.flag.flag-16.flag-ci {background-position: -144px -22px}
.flag.flag-16.flag-ck {background-position: -160px -22px}
.flag.flag-16.flag-cl {background-position: -176px -22px}
.flag.flag-16.flag-cm {background-position: -192px -22px}
.flag.flag-16.flag-cn {background-position: -208px -22px}
.flag.flag-16.flag-co {background-position: -224px -22px}
.flag.flag-16.flag-cr {background-position: -240px -22px}
.flag.flag-16.flag-cu {background-position: 0 -33px}
.flag.flag-16.flag-cv {background-position: -16px -33px}
.flag.flag-16.flag-cw {background-position: -32px -33px}
.flag.flag-16.flag-cy {background-position: -48px -33px}
.flag.flag-16.flag-cz {background-position: -64px -33px}
.flag.flag-16.flag-de {background-position: -80px -33px}
.flag.flag-16.flag-dj {background-position: -96px -33px}
.flag.flag-16.flag-dk {background-position: -112px -33px}
.flag.flag-16.flag-dm {background-position: -128px -33px}
.flag.flag-16.flag-do {background-position: -144px -33px}
.flag.flag-16.flag-dz {background-position: -160px -33px}
.flag.flag-16.flag-ec {background-position: -176px -33px}
.flag.flag-16.flag-ee {background-position: -192px -33px}
.flag.flag-16.flag-eg {background-position: -208px -33px}
.flag.flag-16.flag-eh {background-position: -224px -33px}
.flag.flag-16.flag-england {background-position: -240px -33px}
.flag.flag-16.flag-er {background-position: 0 -44px}
.flag.flag-16.flag-es {background-position: -16px -44px}
.flag.flag-16.flag-et {background-position: -32px -44px}
.flag.flag-16.flag-eu {background-position: -48px -44px}
.flag.flag-16.flag-fi {background-position: -64px -44px}
.flag.flag-16.flag-fj {background-position: -80px -44px}
.flag.flag-16.flag-fk {background-position: -96px -44px}
.flag.flag-16.flag-fm {background-position: -112px -44px}
.flag.flag-16.flag-fo {background-position: -128px -44px}
.flag.flag-16.flag-fr {background-position: -144px -44px}
.flag.flag-16.flag-ga {background-position: -160px -44px}
.flag.flag-16.flag-gb {background-position: -176px -44px}
.flag.flag-16.flag-gd {background-position: -192px -44px}
.flag.flag-16.flag-ge {background-position: -208px -44px}
.flag.flag-16.flag-gf {background-position: -224px -44px}
.flag.flag-16.flag-gg {background-position: -240px -44px}
.flag.flag-16.flag-gh {background-position: 0 -55px}
.flag.flag-16.flag-gi {background-position: -16px -55px}
.flag.flag-16.flag-gl {background-position: -32px -55px}
.flag.flag-16.flag-gm {background-position: -48px -55px}
.flag.flag-16.flag-gn {background-position: -64px -55px}
.flag.flag-16.flag-gp {background-position: -80px -55px}
.flag.flag-16.flag-gq {background-position: -96px -55px}
.flag.flag-16.flag-gr {background-position: -112px -55px}
.flag.flag-16.flag-gs {background-position: -128px -55px}
.flag.flag-16.flag-gt {background-position: -144px -55px}
.flag.flag-16.flag-gu {background-position: -160px -55px}
.flag.flag-16.flag-gw {background-position: -176px -55px}
.flag.flag-16.flag-gy {background-position: -192px -55px}
.flag.flag-16.flag-hk {background-position: -208px -55px}
.flag.flag-16.flag-hm {background-position: -224px -55px}
.flag.flag-16.flag-hn {background-position: -240px -55px}
.flag.flag-16.flag-hr {background-position: 0 -66px}
.flag.flag-16.flag-ht {background-position: -16px -66px}
.flag.flag-16.flag-hu {background-position: -32px -66px}
.flag.flag-16.flag-ic {background-position: -48px -66px}
.flag.flag-16.flag-id {background-position: -64px -66px}
.flag.flag-16.flag-ie {background-position: -80px -66px}
.flag.flag-16.flag-il {background-position: -96px -66px}
.flag.flag-16.flag-im {background-position: -112px -66px}
.flag.flag-16.flag-in {background-position: -128px -66px}
.flag.flag-16.flag-io {background-position: -144px -66px}
.flag.flag-16.flag-iq {background-position: -160px -66px}
.flag.flag-16.flag-ir {background-position: -176px -66px}
.flag.flag-16.flag-is {background-position: -192px -66px}
.flag.flag-16.flag-it {background-position: -208px -66px}
.flag.flag-16.flag-je {background-position: -224px -66px}
.flag.flag-16.flag-jm {background-position: -240px -66px}
.flag.flag-16.flag-jo {background-position: 0 -77px}
.flag.flag-16.flag-jp {background-position: -16px -77px}
.flag.flag-16.flag-ke {background-position: -32px -77px}
.flag.flag-16.flag-kg {background-position: -48px -77px}
.flag.flag-16.flag-kh {background-position: -64px -77px}
.flag.flag-16.flag-ki {background-position: -80px -77px}
.flag.flag-16.flag-km {background-position: -96px -77px}
.flag.flag-16.flag-kn {background-position: -112px -77px}
.flag.flag-16.flag-kp {background-position: -128px -77px}
.flag.flag-16.flag-kr {background-position: -144px -77px}
.flag.flag-16.flag-kurdistan {background-position: -160px -77px}
.flag.flag-16.flag-kw {background-position: -176px -77px}
.flag.flag-16.flag-ky {background-position: -192px -77px}
.flag.flag-16.flag-kz {background-position: -208px -77px}
.flag.flag-16.flag-la {background-position: -224px -77px}
.flag.flag-16.flag-lb {background-position: -240px -77px}
.flag.flag-16.flag-lc {background-position: 0 -88px}
.flag.flag-16.flag-li {background-position: -16px -88px}
.flag.flag-16.flag-lk {background-position: -32px -88px}
.flag.flag-16.flag-lr {background-position: -48px -88px}
.flag.flag-16.flag-ls {background-position: -64px -88px}
.flag.flag-16.flag-lt {background-position: -80px -88px}
.flag.flag-16.flag-lu {background-position: -96px -88px}
.flag.flag-16.flag-lv {background-position: -112px -88px}
.flag.flag-16.flag-ly {background-position: -128px -88px}
.flag.flag-16.flag-ma {background-position: -144px -88px}
.flag.flag-16.flag-mc {background-position: -160px -88px}
.flag.flag-16.flag-md {background-position: -176px -88px}
.flag.flag-16.flag-me {background-position: -192px -88px}
.flag.flag-16.flag-mg {background-position: -208px -88px}
.flag.flag-16.flag-mh {background-position: -224px -88px}
.flag.flag-16.flag-mk {background-position: -240px -88px}
.flag.flag-16.flag-ml {background-position: 0 -99px}
.flag.flag-16.flag-mm {background-position: -16px -99px}
.flag.flag-16.flag-mn {background-position: -32px -99px}
.flag.flag-16.flag-mo {background-position: -48px -99px}
.flag.flag-16.flag-mp {background-position: -64px -99px}
.flag.flag-16.flag-mq {background-position: -80px -99px}
.flag.flag-16.flag-mr {background-position: -96px -99px}
.flag.flag-16.flag-ms {background-position: -112px -99px}
.flag.flag-16.flag-mt {background-position: -128px -99px}
.flag.flag-16.flag-mu {background-position: -144px -99px}
.flag.flag-16.flag-mv {background-position: -160px -99px}
.flag.flag-16.flag-mw {background-position: -176px -99px}
.flag.flag-16.flag-mx {background-position: -192px -99px}
.flag.flag-16.flag-my {background-position: -208px -99px}
.flag.flag-16.flag-mz {background-position: -224px -99px}
.flag.flag-16.flag-na {background-position: -240px -99px}
.flag.flag-16.flag-nc {background-position: 0 -110px}
.flag.flag-16.flag-ne {background-position: -16px -110px}
.flag.flag-16.flag-nf {background-position: -32px -110px}
.flag.flag-16.flag-ng {background-position: -48px -110px}
.flag.flag-16.flag-ni {background-position: -64px -110px}
.flag.flag-16.flag-nl {background-position: -80px -110px}
.flag.flag-16.flag-no {background-position: -96px -110px}
.flag.flag-16.flag-np {background-position: -112px -110px}
.flag.flag-16.flag-nr {background-position: -128px -110px}
.flag.flag-16.flag-nu {background-position: -144px -110px}
.flag.flag-16.flag-nz {background-position: -160px -110px}
.flag.flag-16.flag-om {background-position: -176px -110px}
.flag.flag-16.flag-pa {background-position: -192px -110px}
.flag.flag-16.flag-pe {background-position: -208px -110px}
.flag.flag-16.flag-pf {background-position: -224px -110px}
.flag.flag-16.flag-pg {background-position: -240px -110px}
.flag.flag-16.flag-ph {background-position: 0 -121px}
.flag.flag-16.flag-pk {background-position: -16px -121px}
.flag.flag-16.flag-pl {background-position: -32px -121px}
.flag.flag-16.flag-pm {background-position: -48px -121px}
.flag.flag-16.flag-pn {background-position: -64px -121px}
.flag.flag-16.flag-pr {background-position: -80px -121px}
.flag.flag-16.flag-ps {background-position: -96px -121px}
.flag.flag-16.flag-pt {background-position: -112px -121px}
.flag.flag-16.flag-pw {background-position: -128px -121px}
.flag.flag-16.flag-py {background-position: -144px -121px}
.flag.flag-16.flag-qa {background-position: -160px -121px}
.flag.flag-16.flag-re {background-position: -176px -121px}
.flag.flag-16.flag-ro {background-position: -192px -121px}
.flag.flag-16.flag-rs {background-position: -208px -121px}
.flag.flag-16.flag-ru {background-position: -224px -121px}
.flag.flag-16.flag-rw {background-position: -240px -121px}
.flag.flag-16.flag-sa {background-position: 0 -132px}
.flag.flag-16.flag-sb {background-position: -16px -132px}
.flag.flag-16.flag-sc {background-position: -32px -132px}
.flag.flag-16.flag-scotland {background-position: -48px -132px}
.flag.flag-16.flag-sd {background-position: -64px -132px}
.flag.flag-16.flag-se {background-position: -80px -132px}
.flag.flag-16.flag-sg {background-position: -96px -132px}
.flag.flag-16.flag-sh {background-position: -112px -132px}
.flag.flag-16.flag-si {background-position: -128px -132px}
.flag.flag-16.flag-sk {background-position: -144px -132px}
.flag.flag-16.flag-sl {background-position: -160px -132px}
.flag.flag-16.flag-sm {background-position: -176px -132px}
.flag.flag-16.flag-sn {background-position: -192px -132px}
.flag.flag-16.flag-so {background-position: -208px -132px}
.flag.flag-16.flag-somaliland {background-position: -224px -132px}
.flag.flag-16.flag-sr {background-position: -240px -132px}
.flag.flag-16.flag-ss {background-position: 0 -143px}
.flag.flag-16.flag-st {background-position: -16px -143px}
.flag.flag-16.flag-sv {background-position: -32px -143px}
.flag.flag-16.flag-sx {background-position: -48px -143px}
.flag.flag-16.flag-sy {background-position: -64px -143px}
.flag.flag-16.flag-sz {background-position: -80px -143px}
.flag.flag-16.flag-tc {background-position: -96px -143px}
.flag.flag-16.flag-td {background-position: -112px -143px}
.flag.flag-16.flag-tf {background-position: -128px -143px}
.flag.flag-16.flag-tg {background-position: -144px -143px}
.flag.flag-16.flag-th {background-position: -160px -143px}
.flag.flag-16.flag-tibet {background-position: -176px -143px}
.flag.flag-16.flag-tj {background-position: -192px -143px}
.flag.flag-16.flag-tk {background-position: -208px -143px}
.flag.flag-16.flag-tl {background-position: -224px -143px}
.flag.flag-16.flag-tm {background-position: -240px -143px}
.flag.flag-16.flag-tn {background-position: 0 -154px}
.flag.flag-16.flag-to {background-position: -16px -154px}
.flag.flag-16.flag-tr {background-position: -32px -154px}
.flag.flag-16.flag-tt {background-position: -48px -154px}
.flag.flag-16.flag-tv {background-position: -64px -154px}
.flag.flag-16.flag-tw {background-position: -80px -154px}
.flag.flag-16.flag-tz {background-position: -96px -154px}
.flag.flag-16.flag-ua {background-position: -112px -154px}
.flag.flag-16.flag-ug {background-position: -128px -154px}
.flag.flag-16.flag-uk {background-position: -176px -44px}
.flag.flag-16.flag-um {background-position: -144px -154px}
.flag.flag-16.flag-us {background-position: -160px -154px}
.flag.flag-16.flag-uy {background-position: -176px -154px}
.flag.flag-16.flag-uz {background-position: -192px -154px}
.flag.flag-16.flag-va {background-position: -208px -154px}
.flag.flag-16.flag-vc {background-position: -224px -154px}
.flag.flag-16.flag-ve {background-position: -240px -154px}
.flag.flag-16.flag-vg {background-position: 0 -165px}
.flag.flag-16.flag-vi {background-position: -16px -165px}
.flag.flag-16.flag-vn {background-position: -32px -165px}
.flag.flag-16.flag-vu {background-position: -48px -165px}
.flag.flag-16.flag-wales {background-position: -64px -165px}
.flag.flag-16.flag-wf {background-position: -80px -165px}
.flag.flag-16.flag-ws {background-position: -96px -165px}
.flag.flag-16.flag-xk {background-position: -112px -165px}
.flag.flag-16.flag-ye {background-position: -128px -165px}
.flag.flag-16.flag-yt {background-position: -144px -165px}
.flag.flag-16.flag-za {background-position: -160px -165px}
.flag.flag-16.flag-zanzibar {background-position: -176px -165px}
.flag.flag-16.flag-zm {background-position: -192px -165px}
.flag.flag-16.flag-zw {background-position: -208px -165px}

.flag.flag-16.flag-aed {background-position: -32px 0}/*Currency Flag*/
.flag.flag-16.flag-afa{background-position: -48px 0}/*Currency Flag*/
.flag.flag-16.flag-ars {background-position: -160px 0}/*Currency Flag*/
.flag.flag-16.flag-aud {background-position: -208px 0}/*Currency Flag*/
.flag.flag-16.flag-bdt {background-position: -32px -11px}/*Currency Flag*/
.flag.flag-16.flag-bhd {background-position: -96px -11px}/*Currency Flag*/
.flag.flag-16.flag-bnd {background-position: -160px -11px}/*Currency Flag*/
.flag.flag-16.flag-brl {background-position: -192px -11px}/*Currency Flag*/
.flag.flag-16.flag-cad {background-position: -48px -22px}/*Currency Flag*/
.flag.flag-16.flag-chf {background-position: -128px -22px}/*Currency Flag*/
.flag.flag-16.flag-dzd {background-position: -160px -33px}/*Currency Flag*/
.flag.flag-16.flag-egp {background-position: -208px -33px}/*Currency Flag*/
.flag.flag-16.flag-eur {background-position: -48px -44px}/*Currency Flag*/
.flag.flag-16.flag-frf {background-position: -144px -44px}/*Currency Flag*/
.flag.flag-16.flag-gbp {background-position: -176px -44px}/*Currency Flag*/
.flag.flag-16.flag-hkd {background-position: -208px -55px}/*Currency Flag*/
.flag.flag-16.flag-ils {background-position: -96px -66px}/*Currency Flag*/
.flag.flag-16.flag-inr {background-position: -128px -66px}/*Currency Flag*/
.flag.flag-16.flag-iqd {background-position: -160px -66px}/*Currency Flag*/
.flag.flag-16.flag-iqd {background-position: -160px -66px}/*Currency Flag*/
.flag.flag-16.flag-irr {background-position: -176px -66px}/*Currency Flag*/
.flag.flag-16.flag-jpy {background-position: -16px -77px}/*Currency Flag*/
.flag.flag-16.flag-krw {background-position: -144px -77px}/*Currency Flag*/
.flag.flag-16.flag-kwd {background-position: -176px -77px}/*Currency Flag*/
.flag.flag-16.flag-kyd {background-position: -192px -77px}/*Currency Flag*/
.flag.flag-16.flag-lbp {background-position: -240px -77px}/*Currency Flag*/
.flag.flag-16.flag-lkr {background-position: -32px -88px}/*Currency Flag*/
.flag.flag-16.flag-mxp {background-position: -192px -99px}/*Currency Flag*/
.flag.flag-16.flag-myr {background-position: -208px -99px}/*Currency Flag*/
.flag.flag-16.flag-ngn {background-position: -48px -110px}/*Currency Flag*/
.flag.flag-16.flag-npr {background-position: -112px -110px}/*Currency Flag*/
.flag.flag-16.flag-nzd {background-position: -160px -110px}/*Currency Flag*/
.flag.flag-16.flag-omr {background-position: -176px -110px}/*Currency Flag*/
.flag.flag-16.flag-php {background-position: 0 -121px}/*Currency Flag*/
.flag.flag-16.flag-pkr {background-position: -16px -121px}/*Currency Flag*/
.flag.flag-16.flag-qar {background-position: -160px -121px}/*Currency Flag*/
.flag.flag-16.flag-rub {background-position: -224px -121px}/*Currency Flag*/
.flag.flag-16.flag-sar {background-position: 0 -132px}/*Currency Flag*/
.flag.flag-16.flag-sgd {background-position: -96px -132px}/*Currency Flag*/
.flag.flag-16.flag-thb {background-position: -160px -143px}/*Currency Flag*/
.flag.flag-16.flag-try {background-position: -32px -154px}/*Currency Flag*/
.flag.flag-16.flag-usd {background-position: -160px -154px}/*Currency Flag*/
.flag.flag-16.flag-zar {background-position: -160px -165px}/*Currency Flag*/













.flag.flag-18.flag-zw {background-position: -270px -168px}
.flag.flag-18.flag-ad {background-position: -18px 0}
.flag.flag-18.flag-ae {background-position: -36px 0}
.flag.flag-18.flag-af {background-position: -54px 0}
.flag.flag-18.flag-ag {background-position: -72px 0}
.flag.flag-18.flag-ai {background-position: -90px 0}
.flag.flag-18.flag-al {background-position: -108px 0}
.flag.flag-18.flag-am {background-position: -126px 0}
.flag.flag-18.flag-an {background-position: -144px 0}
.flag.flag-18.flag-ao {background-position: -162px 0}
.flag.flag-18.flag-ar {background-position: -180px 0}
.flag.flag-18.flag-as {background-position: -198px 0}
.flag.flag-18.flag-at {background-position: -216px 0}
.flag.flag-18.flag-au {background-position: -234px 0}
.flag.flag-18.flag-aw {background-position: -252px 0}
.flag.flag-18.flag-az {background-position: -270px 0}
.flag.flag-18.flag-ba {background-position: 0 -12px}
.flag.flag-18.flag-bb {background-position: -18px -12px}
.flag.flag-18.flag-bd {background-position: -36px -12px}
.flag.flag-18.flag-be {background-position: -54px -12px}
.flag.flag-18.flag-bf {background-position: -72px -12px}
.flag.flag-18.flag-bg {background-position: -90px -12px}
.flag.flag-18.flag-bh {background-position: -108px -12px}
.flag.flag-18.flag-bi {background-position: -126px -12px}
.flag.flag-18.flag-bj {background-position: -144px -12px}
.flag.flag-18.flag-bm {background-position: -162px -12px}
.flag.flag-18.flag-bn {background-position: -180px -12px}
.flag.flag-18.flag-bo {background-position: -198px -12px}
.flag.flag-18.flag-br {background-position: -216px -12px}
.flag.flag-18.flag-bs {background-position: -234px -12px}
.flag.flag-18.flag-bt {background-position: -252px -12px}
.flag.flag-18.flag-bv {background-position: -270px -12px}
.flag.flag-18.flag-bw {background-position: 0 -24px}
.flag.flag-18.flag-by {background-position: -18px -24px}
.flag.flag-18.flag-bz {background-position: -36px -24px}
.flag.flag-18.flag-ca {background-position: -54px -24px}
.flag.flag-18.flag-cd {background-position: -72px -24px}
.flag.flag-18.flag-cf {background-position: -90px -24px}
.flag.flag-18.flag-cg {background-position: -108px -24px}
.flag.flag-18.flag-ch {background-position: -126px -24px}
.flag.flag-18.flag-ci {background-position: -144px -24px}
.flag.flag-18.flag-ck {background-position: -162px -24px}
.flag.flag-18.flag-cl {background-position: -180px -24px}
.flag.flag-18.flag-cm {background-position: -198px -24px}
.flag.flag-18.flag-cn {background-position: -216px -24px}
.flag.flag-18.flag-co {background-position: -234px -24px}
.flag.flag-18.flag-cr {background-position: -252px -24px}
.flag.flag-18.flag-cu {background-position: -270px -24px}
.flag.flag-18.flag-cv {background-position: 0 -36px}
.flag.flag-18.flag-cy {background-position: -18px -36px}
.flag.flag-18.flag-cz {background-position: -36px -36px}
.flag.flag-18.flag-de {background-position: -54px -36px}
.flag.flag-18.flag-dj {background-position: -72px -36px}
.flag.flag-18.flag-dk {background-position: -90px -36px}
.flag.flag-18.flag-dm {background-position: -108px -36px}
.flag.flag-18.flag-do {background-position: -126px -36px}
.flag.flag-18.flag-dz {background-position: -144px -36px}
.flag.flag-18.flag-ec {background-position: -162px -36px}
.flag.flag-18.flag-ee {background-position: -180px -36px}
.flag.flag-18.flag-eg {background-position: -198px -36px}
.flag.flag-18.flag-eh {background-position: -216px -36px}
.flag.flag-18.flag-er {background-position: -234px -36px}
.flag.flag-18.flag-es {background-position: -252px -36px}
.flag.flag-18.flag-et {background-position: -270px -36px}
.flag.flag-18.flag-eu {background-position: 0 -48px}
.flag.flag-18.flag-fi {background-position: -18px -48px}
.flag.flag-18.flag-fj {background-position: -36px -48px}
.flag.flag-18.flag-fk {background-position: -54px -48px}
.flag.flag-18.flag-fm {background-position: -72px -48px}
.flag.flag-18.flag-fo {background-position: -90px -48px}
.flag.flag-18.flag-fr {background-position: -108px -48px}
.flag.flag-18.flag-ga {background-position: -126px -48px}
.flag.flag-18.flag-gb {background-position: -144px -48px}
.flag.flag-18.flag-gd {background-position: -162px -48px}
.flag.flag-18.flag-ge {background-position: -180px -48px}
.flag.flag-18.flag-gf {background-position: -198px -48px}
.flag.flag-18.flag-gg {background-position: -216px -48px}
.flag.flag-18.flag-gh {background-position: -234px -48px}
.flag.flag-18.flag-gi {background-position: -252px -48px}
.flag.flag-18.flag-gl {background-position: -270px -48px}
.flag.flag-18.flag-gm {background-position: 0 -60px}
.flag.flag-18.flag-gn {background-position: -18px -60px}
.flag.flag-18.flag-gp {background-position: -36px -60px}
.flag.flag-18.flag-gq {background-position: -54px -60px}
.flag.flag-18.flag-gr {background-position: -72px -60px}
.flag.flag-18.flag-gs {background-position: -90px -60px}
.flag.flag-18.flag-gt {background-position: -108px -60px}
.flag.flag-18.flag-gu {background-position: -126px -60px}
.flag.flag-18.flag-gw {background-position: -144px -60px}
.flag.flag-18.flag-gy {background-position: -162px -60px}
.flag.flag-18.flag-hk {background-position: -180px -60px}
.flag.flag-18.flag-hm {background-position: -198px -60px}
.flag.flag-18.flag-hn {background-position: -216px -60px}
.flag.flag-18.flag-hr {background-position: -234px -60px}
.flag.flag-18.flag-ht {background-position: -252px -60px}
.flag.flag-18.flag-hu {background-position: -270px -60px}
.flag.flag-18.flag-id {background-position: 0 -72px}
.flag.flag-18.flag-ie {background-position: -18px -72px}
.flag.flag-18.flag-il {background-position: -36px -72px}
.flag.flag-18.flag-in {background-position: -54px -72px}
.flag.flag-18.flag-io {background-position: -72px -72px}
.flag.flag-18.flag-iq {background-position: -90px -72px}
.flag.flag-18.flag-ir {background-position: -108px -72px}
.flag.flag-18.flag-is {background-position: -126px -72px}
.flag.flag-18.flag-it {background-position: -144px -72px}
.flag.flag-18.flag-je {background-position: -162px -72px}
.flag.flag-18.flag-jm {background-position: -180px -72px}
.flag.flag-18.flag-jo {background-position: -198px -72px}
.flag.flag-18.flag-jp {background-position: -216px -72px}
.flag.flag-18.flag-ke {background-position: -234px -72px}
.flag.flag-18.flag-kg {background-position: -252px -72px}
.flag.flag-18.flag-kh {background-position: -270px -72px}
.flag.flag-18.flag-ki {background-position: 0 -84px}
.flag.flag-18.flag-km {background-position: -18px -84px}
.flag.flag-18.flag-kn {background-position: -36px -84px}
.flag.flag-18.flag-kp {background-position: -54px -84px}
.flag.flag-18.flag-kr {background-position: -72px -84px}
.flag.flag-18.flag-kw {background-position: -90px -84px}
.flag.flag-18.flag-ky {background-position: -108px -84px}
.flag.flag-18.flag-kz {background-position: -126px -84px}
.flag.flag-18.flag-la {background-position: -144px -84px}
.flag.flag-18.flag-lb {background-position: -162px -84px}
.flag.flag-18.flag-lc {background-position: -180px -84px}
.flag.flag-18.flag-li {background-position: -198px -84px}
.flag.flag-18.flag-lk {background-position: -216px -84px}
.flag.flag-18.flag-lr {background-position: -234px -84px}
.flag.flag-18.flag-ls {background-position: -252px -84px}
.flag.flag-18.flag-lt {background-position: -270px -84px}
.flag.flag-18.flag-lu {background-position: 0 -96px}
.flag.flag-18.flag-lv {background-position: -18px -96px}
.flag.flag-18.flag-ly {background-position: -36px -96px}
.flag.flag-18.flag-ma {background-position: -54px -96px}
.flag.flag-18.flag-mc {background-position: -72px -96px}
.flag.flag-18.flag-md {background-position: -90px -96px}
.flag.flag-18.flag-me {background-position: -108px -96px}
.flag.flag-18.flag-mg {background-position: -126px -96px}
.flag.flag-18.flag-mh {background-position: -144px -96px}
.flag.flag-18.flag-mk {background-position: -162px -96px}
.flag.flag-18.flag-ml {background-position: -180px -96px}
.flag.flag-18.flag-mm {background-position: -198px -96px}
.flag.flag-18.flag-mn {background-position: -216px -96px}
.flag.flag-18.flag-mo {background-position: -234px -96px}
.flag.flag-18.flag-mp {background-position: -252px -96px}
.flag.flag-18.flag-mq {background-position: -270px -96px}
.flag.flag-18.flag-mr {background-position: 0 -108px}
.flag.flag-18.flag-ms {background-position: -18px -108px}
.flag.flag-18.flag-mt {background-position: -36px -108px}
.flag.flag-18.flag-mu {background-position: -54px -108px}
.flag.flag-18.flag-mv {background-position: -72px -108px}
.flag.flag-18.flag-mw {background-position: -90px -108px}
.flag.flag-18.flag-mx {background-position: -108px -108px}
.flag.flag-18.flag-my {background-position: -126px -108px}
.flag.flag-18.flag-mz {background-position: -144px -108px}
.flag.flag-18.flag-na {background-position: -162px -108px}
.flag.flag-18.flag-nc {background-position: -180px -108px}
.flag.flag-18.flag-ne {background-position: -198px -108px}
.flag.flag-18.flag-nf {background-position: -216px -108px}
.flag.flag-18.flag-ng {background-position: -234px -108px}
.flag.flag-18.flag-ni {background-position: -252px -108px}
.flag.flag-18.flag-nl {background-position: -270px -108px}
.flag.flag-18.flag-no {background-position: 0 -120px}
.flag.flag-18.flag-np {background-position: -18px -120px}
.flag.flag-18.flag-nr {background-position: -36px -120px}
.flag.flag-18.flag-nu {background-position: -54px -120px}
.flag.flag-18.flag-nz {background-position: -72px -120px}
.flag.flag-18.flag-om {background-position: -90px -120px}
.flag.flag-18.flag-pa {background-position: -108px -120px}
.flag.flag-18.flag-pe {background-position: -126px -120px}
.flag.flag-18.flag-pf {background-position: -144px -120px}
.flag.flag-18.flag-pg {background-position: -162px -120px}
.flag.flag-18.flag-ph {background-position: -180px -120px}
.flag.flag-18.flag-pk {background-position: -198px -120px}
.flag.flag-18.flag-pl {background-position: -216px -120px}
.flag.flag-18.flag-pm {background-position: -234px -120px}
.flag.flag-18.flag-pn {background-position: -252px -120px}
.flag.flag-18.flag-pr {background-position: -270px -120px}
.flag.flag-18.flag-ps {background-position: 0 -132px}
.flag.flag-18.flag-pt {background-position: -18px -132px}
.flag.flag-18.flag-pw {background-position: -36px -132px}
.flag.flag-18.flag-py {background-position: -54px -132px}
.flag.flag-18.flag-qa {background-position: -72px -132px}
.flag.flag-18.flag-re {background-position: -90px -132px}
.flag.flag-18.flag-ro {background-position: -108px -132px}
.flag.flag-18.flag-rs {background-position: -126px -132px}
.flag.flag-18.flag-ru {background-position: -144px -132px}
.flag.flag-18.flag-rw {background-position: -162px -132px}
.flag.flag-18.flag-sa {background-position: -180px -132px}
.flag.flag-18.flag-sb {background-position: -198px -132px}
.flag.flag-18.flag-sc {background-position: -216px -132px}
.flag.flag-18.flag-sd {background-position: -234px -132px}
.flag.flag-18.flag-se {background-position: -252px -132px}
.flag.flag-18.flag-sg {background-position: -270px -132px}
.flag.flag-18.flag-sh {background-position: 0 -144px}
.flag.flag-18.flag-si {background-position: -18px -144px}
.flag.flag-18.flag-sk {background-position: -36px -144px}
.flag.flag-18.flag-sl {background-position: -54px -144px}
.flag.flag-18.flag-sm {background-position: -72px -144px}
.flag.flag-18.flag-sn {background-position: -90px -144px}
.flag.flag-18.flag-so {background-position: -108px -144px}
.flag.flag-18.flag-sr {background-position: -126px -144px}
.flag.flag-18.flag-st {background-position: -144px -144px}
.flag.flag-18.flag-sv {background-position: -162px -144px}
.flag.flag-18.flag-sy {background-position: -180px -144px}
.flag.flag-18.flag-sz {background-position: -198px -144px}
.flag.flag-18.flag-tc {background-position: -216px -144px}
.flag.flag-18.flag-td {background-position: -234px -144px}
.flag.flag-18.flag-tf {background-position: -252px -144px}
.flag.flag-18.flag-tg {background-position: -270px -144px}
.flag.flag-18.flag-th {background-position: 0 -156px}
.flag.flag-18.flag-tj {background-position: -18px -156px}
.flag.flag-18.flag-tk {background-position: -36px -156px}
.flag.flag-18.flag-tl {background-position: -54px -156px}
.flag.flag-18.flag-tm {background-position: -72px -156px}
.flag.flag-18.flag-tn {background-position: -90px -156px}
.flag.flag-18.flag-to {background-position: -108px -156px}
.flag.flag-18.flag-tr {background-position: -126px -156px}
.flag.flag-18.flag-tt {background-position: -144px -156px}
.flag.flag-18.flag-tv {background-position: -162px -156px}
.flag.flag-18.flag-tw {background-position: -180px -156px}
.flag.flag-18.flag-tz {background-position: -198px -156px}
.flag.flag-18.flag-ua {background-position: -216px -156px}
.flag.flag-18.flag-ug {background-position: -234px -156px}
.flag.flag-18.flag-uk {background-position: -144px -48px}
.flag.flag-18.flag-um {background-position: -252px -156px}
.flag.flag-18.flag-us {background-position: -270px -156px}
.flag.flag-18.flag-uy {background-position: 0 -168px}
.flag.flag-18.flag-uz {background-position: -18px -168px}
.flag.flag-18.flag-va {background-position: -36px -168px}
.flag.flag-18.flag-vc {background-position: -54px -168px}
.flag.flag-18.flag-ve {background-position: -72px -168px}
.flag.flag-18.flag-vg {background-position: -90px -168px}
.flag.flag-18.flag-vi {background-position: -108px -168px}
.flag.flag-18.flag-vn {background-position: -126px -168px}
.flag.flag-18.flag-vu {background-position: -144px -168px}
.flag.flag-18.flag-wf {background-position: -162px -168px}
.flag.flag-18.flag-ws {background-position: -180px -168px}
.flag.flag-18.flag-ye {background-position: -198px -168px}
.flag.flag-18.flag-yt {background-position: -216px -168px}
.flag.flag-18.flag-za {background-position: -234px -168px}
.flag.flag-18.flag-zm {background-position: -252px -168px}

.flag.flag-18.flag-aed {background-position: -32px 0}/*Currency Flag*/
.flag.flag-18.flag-afa{background-position: -48px 0}/*Currency Flag*/
.flag.flag-18.flag-ars {background-position: -160px 0}/*Currency Flag*/
.flag.flag-18.flag-aud {background-position: -208px 0}/*Currency Flag*/
.flag.flag-18.flag-bdt {background-position: -32px -11px}/*Currency Flag*/
.flag.flag-18.flag-bhd {background-position: -96px -11px}/*Currency Flag*/
.flag.flag-18.flag-bnd {background-position: -160px -11px}/*Currency Flag*/
.flag.flag-18.flag-brl {background-position: -192px -11px}/*Currency Flag*/
.flag.flag-18.flag-cad {background-position: -48px -22px}/*Currency Flag*/
.flag.flag-18.flag-chf {background-position: -128px -22px}/*Currency Flag*/
.flag.flag-18.flag-dzd {background-position: -160px -33px}/*Currency Flag*/
.flag.flag-18.flag-egp {background-position: -208px -33px}/*Currency Flag*/
.flag.flag-18.flag-eur {background-position: -48px -44px}/*Currency Flag*/
.flag.flag-18.flag-frf {background-position: -144px -44px}/*Currency Flag*/
.flag.flag-18.flag-gbp {background-position: -176px -44px}/*Currency Flag*/
.flag.flag-18.flag-hkd {background-position: -208px -55px}/*Currency Flag*/
.flag.flag-18.flag-ils {background-position: -96px -66px}/*Currency Flag*/
.flag.flag-18.flag-inr {background-position: -128px -66px}/*Currency Flag*/
.flag.flag-18.flag-iqd {background-position: -160px -66px}/*Currency Flag*/
.flag.flag-18.flag-iqd {background-position: -160px -66px}/*Currency Flag*/
.flag.flag-18.flag-irr {background-position: -176px -66px}/*Currency Flag*/
.flag.flag-18.flag-jpy {background-position: -16px -77px}/*Currency Flag*/
.flag.flag-18.flag-krw {background-position: -144px -77px}/*Currency Flag*/
.flag.flag-18.flag-kwd {background-position: -176px -77px}/*Currency Flag*/
.flag.flag-18.flag-kyd {background-position: -192px -77px}/*Currency Flag*/
.flag.flag-18.flag-lbp {background-position: -240px -77px}/*Currency Flag*/
.flag.flag-18.flag-lkr {background-position: -32px -88px}/*Currency Flag*/
.flag.flag-18.flag-mxp {background-position: -192px -99px}/*Currency Flag*/
.flag.flag-18.flag-myr {background-position: -208px -99px}/*Currency Flag*/
.flag.flag-18.flag-ngn {background-position: -48px -110px}/*Currency Flag*/
.flag.flag-18.flag-npr {background-position: -112px -110px}/*Currency Flag*/
.flag.flag-18.flag-nzd {background-position: -160px -110px}/*Currency Flag*/
.flag.flag-18.flag-omr {background-position: -176px -110px}/*Currency Flag*/
.flag.flag-18.flag-php {background-position: 0 -121px}/*Currency Flag*/
.flag.flag-18.flag-pkr {background-position: -16px -121px}/*Currency Flag*/
.flag.flag-18.flag-qar {background-position: -160px -121px}/*Currency Flag*/
.flag.flag-18.flag-rub {background-position: -224px -121px}/*Currency Flag*/
.flag.flag-18.flag-sar {background-position: 0 -132px}/*Currency Flag*/
.flag.flag-18.flag-sgd {background-position: -96px -132px}/*Currency Flag*/
.flag.flag-18.flag-thb {background-position: -160px -143px}/*Currency Flag*/
.flag.flag-18.flag-try {background-position: -32px -154px}/*Currency Flag*/
.flag.flag-18.flag-usd {background-position: -160px -154px}/*Currency Flag*/
.flag.flag-18.flag-zar {background-position: -160px -165px}/*Currency Flag*/











.flag.flag-25.flag-ad {background-position: -25px 0}
.flag.flag-25.flag-ae {background-position: -50px 0}
.flag.flag-25.flag-af {background-position: -75px 0}
.flag.flag-25.flag-ag {background-position: -100px 0}
.flag.flag-25.flag-ai {background-position: -125px 0}
.flag.flag-25.flag-al {background-position: -150px 0}
.flag.flag-25.flag-am {background-position: -175px 0}
.flag.flag-25.flag-an {background-position: -200px 0}
.flag.flag-25.flag-ao {background-position: -225px 0}
.flag.flag-25.flag-ar {background-position: -250px 0}
.flag.flag-25.flag-as {background-position: -275px 0}
.flag.flag-25.flag-at {background-position: -300px 0}
.flag.flag-25.flag-au {background-position: -325px 0}
.flag.flag-25.flag-aw {background-position: -350px 0}
.flag.flag-25.flag-az {background-position: -375px 0}
.flag.flag-25.flag-ba {background-position: 0 -15px}
.flag.flag-25.flag-bb {background-position: -25px -15px}
.flag.flag-25.flag-bd {background-position: -50px -15px}
.flag.flag-25.flag-be {background-position: -75px -15px}
.flag.flag-25.flag-bf {background-position: -100px -15px}
.flag.flag-25.flag-bg {background-position: -125px -15px}
.flag.flag-25.flag-bh {background-position: -150px -15px}
.flag.flag-25.flag-bi {background-position: -175px -15px}
.flag.flag-25.flag-bj {background-position: -200px -15px}
.flag.flag-25.flag-bm {background-position: -225px -15px}
.flag.flag-25.flag-bn {background-position: -250px -15px}
.flag.flag-25.flag-bo {background-position: -275px -15px}
.flag.flag-25.flag-br {background-position: -300px -15px}
.flag.flag-25.flag-bs {background-position: -325px -15px}
.flag.flag-25.flag-bt {background-position: -350px -15px}
.flag.flag-25.flag-bv {background-position: -375px -15px}
.flag.flag-25.flag-bw {background-position: 0 -30px}
.flag.flag-25.flag-by {background-position: -25px -30px}
.flag.flag-25.flag-bz {background-position: -50px -30px}
.flag.flag-25.flag-ca {background-position: -75px -30px}
.flag.flag-25.flag-cd {background-position: -100px -30px}
.flag.flag-25.flag-cf {background-position: -125px -30px}
.flag.flag-25.flag-cg {background-position: -150px -30px}
.flag.flag-25.flag-ch {background-position: -175px -30px}
.flag.flag-25.flag-ci {background-position: -200px -30px}
.flag.flag-25.flag-ck {background-position: -225px -30px}
.flag.flag-25.flag-cl {background-position: -250px -30px}
.flag.flag-25.flag-cm {background-position: -275px -30px}
.flag.flag-25.flag-cn {background-position: -300px -30px}
.flag.flag-25.flag-co {background-position: -325px -30px}
.flag.flag-25.flag-cr {background-position: -350px -30px}
.flag.flag-25.flag-cu {background-position: -375px -30px}
.flag.flag-25.flag-cv {background-position: 0 -45px}
.flag.flag-25.flag-cy {background-position: -25px -45px}
.flag.flag-25.flag-cz {background-position: -50px -45px}
.flag.flag-25.flag-de {background-position: -75px -45px}
.flag.flag-25.flag-dj {background-position: -100px -45px}
.flag.flag-25.flag-dk {background-position: -125px -45px}
.flag.flag-25.flag-dm {background-position: -150px -45px}
.flag.flag-25.flag-do {background-position: -175px -45px}
.flag.flag-25.flag-dz {background-position: -200px -45px}
.flag.flag-25.flag-ec {background-position: -225px -45px}
.flag.flag-25.flag-ee {background-position: -250px -45px}
.flag.flag-25.flag-eg {background-position: -275px -45px}
.flag.flag-25.flag-eh {background-position: -300px -45px}
.flag.flag-25.flag-er {background-position: -325px -45px}
.flag.flag-25.flag-es {background-position: -350px -45px}
.flag.flag-25.flag-et {background-position: -375px -45px}
.flag.flag-25.flag-eu {background-position: 0 -60px}
.flag.flag-25.flag-fi {background-position: -25px -60px}
.flag.flag-25.flag-fj {background-position: -50px -60px}
.flag.flag-25.flag-fk {background-position: -75px -60px}
.flag.flag-25.flag-fm {background-position: -100px -60px}
.flag.flag-25.flag-fo {background-position: -125px -60px}
.flag.flag-25.flag-fr {background-position: -150px -60px}
.flag.flag-25.flag-ga {background-position: -175px -60px}
.flag.flag-25.flag-gb {background-position: -200px -60px}
.flag.flag-25.flag-gd {background-position: -225px -60px}
.flag.flag-25.flag-ge {background-position: -250px -60px}
.flag.flag-25.flag-gf {background-position: -275px -60px}
.flag.flag-25.flag-gg {background-position: -300px -60px}
.flag.flag-25.flag-gh {background-position: -325px -60px}
.flag.flag-25.flag-gi {background-position: -350px -60px}
.flag.flag-25.flag-gl {background-position: -375px -60px}
.flag.flag-25.flag-gm {background-position: 0 -75px}
.flag.flag-25.flag-gn {background-position: -25px -75px}
.flag.flag-25.flag-gp {background-position: -50px -75px}
.flag.flag-25.flag-gq {background-position: -75px -75px}
.flag.flag-25.flag-gr {background-position: -100px -75px}
.flag.flag-25.flag-gs {background-position: -125px -75px}
.flag.flag-25.flag-gt {background-position: -150px -75px}
.flag.flag-25.flag-gu {background-position: -175px -75px}
.flag.flag-25.flag-gw {background-position: -200px -75px}
.flag.flag-25.flag-gy {background-position: -225px -75px}
.flag.flag-25.flag-hk {background-position: -250px -75px}
.flag.flag-25.flag-hm {background-position: -275px -75px}
.flag.flag-25.flag-hn {background-position: -300px -75px}
.flag.flag-25.flag-hr {background-position: -325px -75px}
.flag.flag-25.flag-ht {background-position: -350px -75px}
.flag.flag-25.flag-hu {background-position: -375px -75px}
.flag.flag-25.flag-id {background-position: 0 -90px}
.flag.flag-25.flag-ie {background-position: -25px -90px}
.flag.flag-25.flag-il {background-position: -50px -90px}
.flag.flag-25.flag-in {background-position: -75px -90px}
.flag.flag-25.flag-io {background-position: -100px -90px}
.flag.flag-25.flag-iq {background-position: -125px -90px}
.flag.flag-25.flag-ir {background-position: -150px -90px}
.flag.flag-25.flag-is {background-position: -175px -90px}
.flag.flag-25.flag-it {background-position: -200px -90px}
.flag.flag-25.flag-je {background-position: -225px -90px}
.flag.flag-25.flag-jm {background-position: -250px -90px}
.flag.flag-25.flag-jo {background-position: -275px -90px}
.flag.flag-25.flag-jp {background-position: -300px -90px}
.flag.flag-25.flag-ke {background-position: -325px -90px}
.flag.flag-25.flag-kg {background-position: -350px -90px}
.flag.flag-25.flag-kh {background-position: -375px -90px}
.flag.flag-25.flag-ki {background-position: 0 -105px}
.flag.flag-25.flag-km {background-position: -25px -105px}
.flag.flag-25.flag-kn {background-position: -50px -105px}
.flag.flag-25.flag-kp {background-position: -75px -105px}
.flag.flag-25.flag-kr {background-position: -100px -105px}
.flag.flag-25.flag-kw {background-position: -125px -105px}
.flag.flag-25.flag-ky {background-position: -150px -105px}
.flag.flag-25.flag-kz {background-position: -175px -105px}
.flag.flag-25.flag-la {background-position: -200px -105px}
.flag.flag-25.flag-lb {background-position: -225px -105px}
.flag.flag-25.flag-lc {background-position: -250px -105px}
.flag.flag-25.flag-li {background-position: -275px -105px}
.flag.flag-25.flag-lk {background-position: -300px -105px}
.flag.flag-25.flag-lr {background-position: -325px -105px}
.flag.flag-25.flag-ls {background-position: -350px -105px}
.flag.flag-25.flag-lt {background-position: -375px -105px}
.flag.flag-25.flag-lu {background-position: 0 -120px}
.flag.flag-25.flag-lv {background-position: -25px -120px}
.flag.flag-25.flag-ly {background-position: -50px -120px}
.flag.flag-25.flag-ma {background-position: -75px -120px}
.flag.flag-25.flag-mc {background-position: -100px -120px}
.flag.flag-25.flag-md {background-position: -125px -120px}
.flag.flag-25.flag-me {background-position: -150px -120px}
.flag.flag-25.flag-mg {background-position: -175px -120px}
.flag.flag-25.flag-mh {background-position: -200px -120px}
.flag.flag-25.flag-mk {background-position: -225px -120px}
.flag.flag-25.flag-ml {background-position: -250px -120px}
.flag.flag-25.flag-mm {background-position: -275px -120px}
.flag.flag-25.flag-mn {background-position: -300px -120px}
.flag.flag-25.flag-mo {background-position: -325px -120px}
.flag.flag-25.flag-mp {background-position: -350px -120px}
.flag.flag-25.flag-mq {background-position: -375px -120px}
.flag.flag-25.flag-mr {background-position: 0 -135px}
.flag.flag-25.flag-ms {background-position: -25px -135px}
.flag.flag-25.flag-mt {background-position: -50px -135px}
.flag.flag-25.flag-mu {background-position: -75px -135px}
.flag.flag-25.flag-mv {background-position: -100px -135px}
.flag.flag-25.flag-mw {background-position: -125px -135px}
.flag.flag-25.flag-mx {background-position: -150px -135px}
.flag.flag-25.flag-my {background-position: -175px -135px}
.flag.flag-25.flag-mz {background-position: -200px -135px}
.flag.flag-25.flag-na {background-position: -225px -135px}
.flag.flag-25.flag-nc {background-position: -250px -135px}
.flag.flag-25.flag-ne {background-position: -275px -135px}
.flag.flag-25.flag-nf {background-position: -300px -135px}
.flag.flag-25.flag-ng {background-position: -325px -135px}
.flag.flag-25.flag-ni {background-position: -350px -135px}
.flag.flag-25.flag-nl {background-position: -375px -135px}
.flag.flag-25.flag-no {background-position: 0 -150px}
.flag.flag-25.flag-np {background-position: -25px -150px}
.flag.flag-25.flag-nr {background-position: -50px -150px}
.flag.flag-25.flag-nu {background-position: -75px -150px}
.flag.flag-25.flag-nz {background-position: -100px -150px}
.flag.flag-25.flag-om {background-position: -125px -150px}
.flag.flag-25.flag-pa {background-position: -150px -150px}
.flag.flag-25.flag-pe {background-position: -175px -150px}
.flag.flag-25.flag-pf {background-position: -200px -150px}
.flag.flag-25.flag-pg {background-position: -225px -150px}
.flag.flag-25.flag-ph {background-position: -250px -150px}
.flag.flag-25.flag-pk {background-position: -275px -150px}
.flag.flag-25.flag-pl {background-position: -300px -150px}
.flag.flag-25.flag-pm {background-position: -325px -150px}
.flag.flag-25.flag-pn {background-position: -350px -150px}
.flag.flag-25.flag-pr {background-position: -375px -150px}
.flag.flag-25.flag-ps {background-position: 0 -165px}
.flag.flag-25.flag-pt {background-position: -25px -165px}
.flag.flag-25.flag-pw {background-position: -50px -165px}
.flag.flag-25.flag-py {background-position: -75px -165px}
.flag.flag-25.flag-qa {background-position: -100px -165px}
.flag.flag-25.flag-re {background-position: -125px -165px}
.flag.flag-25.flag-ro {background-position: -150px -165px}
.flag.flag-25.flag-rs {background-position: -175px -165px}
.flag.flag-25.flag-ru {background-position: -200px -165px}
.flag.flag-25.flag-rw {background-position: -225px -165px}
.flag.flag-25.flag-sa {background-position: -250px -165px}
.flag.flag-25.flag-sb {background-position: -275px -165px}
.flag.flag-25.flag-sc {background-position: -300px -165px}
.flag.flag-25.flag-sd {background-position: -325px -165px}
.flag.flag-25.flag-se {background-position: -350px -165px}
.flag.flag-25.flag-sg {background-position: -375px -165px}
.flag.flag-25.flag-sh {background-position: 0 -180px}
.flag.flag-25.flag-si {background-position: -25px -180px}
.flag.flag-25.flag-sk {background-position: -50px -180px}
.flag.flag-25.flag-sl {background-position: -75px -180px}
.flag.flag-25.flag-sm {background-position: -100px -180px}
.flag.flag-25.flag-sn {background-position: -125px -180px}
.flag.flag-25.flag-so {background-position: -150px -180px}
.flag.flag-25.flag-sr {background-position: -175px -180px}
.flag.flag-25.flag-st {background-position: -200px -180px}
.flag.flag-25.flag-sv {background-position: -225px -180px}
.flag.flag-25.flag-sy {background-position: -250px -180px}
.flag.flag-25.flag-sz {background-position: -275px -180px}
.flag.flag-25.flag-tc {background-position: -300px -180px}
.flag.flag-25.flag-td {background-position: -325px -180px}
.flag.flag-25.flag-tf {background-position: -350px -180px}
.flag.flag-25.flag-tg {background-position: -375px -180px}
.flag.flag-25.flag-th {background-position: 0 -195px}
.flag.flag-25.flag-tj {background-position: -25px -195px}
.flag.flag-25.flag-tk {background-position: -50px -195px}
.flag.flag-25.flag-tl {background-position: -75px -195px}
.flag.flag-25.flag-tm {background-position: -100px -195px}
.flag.flag-25.flag-tn {background-position: -125px -195px}
.flag.flag-25.flag-to {background-position: -150px -195px}
.flag.flag-25.flag-tr {background-position: -175px -195px}
.flag.flag-25.flag-tt {background-position: -200px -195px}
.flag.flag-25.flag-tv {background-position: -225px -195px}
.flag.flag-25.flag-tw {background-position: -250px -195px}
.flag.flag-25.flag-tz {background-position: -275px -195px}
.flag.flag-25.flag-ua {background-position: -300px -195px}
.flag.flag-25.flag-ug {background-position: -325px -195px}
.flag.flag-25.flag-uk {background-position: -200px -60px}
.flag.flag-25.flag-um {background-position: -350px -195px}
.flag.flag-25.flag-us {background-position: -375px -195px}
.flag.flag-25.flag-uy {background-position: 0 -210px}
.flag.flag-25.flag-uz {background-position: -25px -210px}
.flag.flag-25.flag-va {background-position: -50px -210px}
.flag.flag-25.flag-vc {background-position: -75px -210px}
.flag.flag-25.flag-ve {background-position: -100px -210px}
.flag.flag-25.flag-vg {background-position: -125px -210px}
.flag.flag-25.flag-vi {background-position: -150px -210px}
.flag.flag-25.flag-vn {background-position: -175px -210px}
.flag.flag-25.flag-vu {background-position: -200px -210px}
.flag.flag-25.flag-wf {background-position: -225px -210px}
.flag.flag-25.flag-ws {background-position: -250px -210px}
.flag.flag-25.flag-ye {background-position: -275px -210px}
.flag.flag-25.flag-yt {background-position: -300px -210px}
.flag.flag-25.flag-za {background-position: -325px -210px}
.flag.flag-25.flag-zm {background-position: -350px -210px}
.flag.flag-25.flag-zw {background-position: -375px -210px}

.flag.flag-25.flag-aed {background-position: -32px 0}/*Currency Flag*/
.flag.flag-25.flag-afa{background-position: -48px 0}/*Currency Flag*/
.flag.flag-25.flag-ars {background-position: -160px 0}/*Currency Flag*/
.flag.flag-25.flag-aud {background-position: -208px 0}/*Currency Flag*/
.flag.flag-25.flag-bdt {background-position: -32px -11px}/*Currency Flag*/
.flag.flag-25.flag-bhd {background-position: -96px -11px}/*Currency Flag*/
.flag.flag-25.flag-bnd {background-position: -160px -11px}/*Currency Flag*/
.flag.flag-25.flag-brl {background-position: -192px -11px}/*Currency Flag*/
.flag.flag-25.flag-cad {background-position: -48px -22px}/*Currency Flag*/
.flag.flag-25.flag-chf {background-position: -128px -22px}/*Currency Flag*/
.flag.flag-25.flag-dzd {background-position: -160px -33px}/*Currency Flag*/
.flag.flag-25.flag-egp {background-position: -208px -33px}/*Currency Flag*/
.flag.flag-25.flag-eur {background-position: -48px -44px}/*Currency Flag*/
.flag.flag-25.flag-frf {background-position: -144px -44px}/*Currency Flag*/
.flag.flag-25.flag-gbp {background-position: -176px -44px}/*Currency Flag*/
.flag.flag-25.flag-hkd {background-position: -208px -55px}/*Currency Flag*/
.flag.flag-25.flag-ils {background-position: -96px -66px}/*Currency Flag*/
.flag.flag-25.flag-inr {background-position: -128px -66px}/*Currency Flag*/
.flag.flag-25.flag-iqd {background-position: -160px -66px}/*Currency Flag*/
.flag.flag-25.flag-iqd {background-position: -160px -66px}/*Currency Flag*/
.flag.flag-25.flag-irr {background-position: -176px -66px}/*Currency Flag*/
.flag.flag-25.flag-jpy {background-position: -16px -77px}/*Currency Flag*/
.flag.flag-25.flag-krw {background-position: -144px -77px}/*Currency Flag*/
.flag.flag-25.flag-kwd {background-position: -176px -77px}/*Currency Flag*/
.flag.flag-25.flag-kyd {background-position: -192px -77px}/*Currency Flag*/
.flag.flag-25.flag-lbp {background-position: -240px -77px}/*Currency Flag*/
.flag.flag-25.flag-lkr {background-position: -32px -88px}/*Currency Flag*/
.flag.flag-25.flag-mxp {background-position: -192px -99px}/*Currency Flag*/
.flag.flag-25.flag-myr {background-position: -208px -99px}/*Currency Flag*/
.flag.flag-25.flag-ngn {background-position: -48px -110px}/*Currency Flag*/
.flag.flag-25.flag-npr {background-position: -112px -110px}/*Currency Flag*/
.flag.flag-25.flag-nzd {background-position: -160px -110px}/*Currency Flag*/
.flag.flag-25.flag-omr {background-position: -176px -110px}/*Currency Flag*/
.flag.flag-25.flag-php {background-position: 0 -121px}/*Currency Flag*/
.flag.flag-25.flag-pkr {background-position: -16px -121px}/*Currency Flag*/
.flag.flag-25.flag-qar {background-position: -160px -121px}/*Currency Flag*/
.flag.flag-25.flag-rub {background-position: -224px -121px}/*Currency Flag*/
.flag.flag-25.flag-sar {background-position: 0 -132px}/*Currency Flag*/
.flag.flag-25.flag-sgd {background-position: -96px -132px}/*Currency Flag*/
.flag.flag-25.flag-thb {background-position: -160px -143px}/*Currency Flag*/
.flag.flag-25.flag-try {background-position: -32px -154px}/*Currency Flag*/
.flag.flag-25.flag-usd {background-position: -160px -154px}/*Currency Flag*/
.flag.flag-25.flag-zar {background-position: -160px -165px}/*Currency Flag*/