@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Load Balancer</h1>
    <p>Azure Load Balancer</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Hello, This is VM 1</h2>
    </div>
</div>