@{
    ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-md-12">
        <h2>
            Change Password
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Your password has been changed successfully.
        </p>
    </div>
</div>
