@{
    ViewBag.Title = "ApplicationInfo";
    Layout = "~/Views/Shared/_Layout-v4.cshtml";
}

<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Application Info List
        </div>
        <div class="card-body">
            
            <!--Add/Edit Form-->
            <div id="divApplicationInfoAdd">
                <div style="padding-bottom: 10px;" class="pull-right">
                    <a href="@Url.Action("AddOrEditAjax", "ApplicationInfo")" class="btn btn-primary">Add</a>
                </div>
            </div>

            <!--jq DataTable-->
            <div id="divApplicationInfoDataTable">

                <table id="applicationInfoDataTable" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Key</th>
                            <th>Value</th>
                            <th style="width: 155px;">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>

        </div>
        <div class="card-footer small text-muted"></div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/App/applicationinfo.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
                ApplicationInfo.init();
                ApplicationInfo.loadDataTable("/ApplicationInfo/GetDataTablesAjax");
            });
    </script>
}
