@{
    ViewBag.Title = "About";
}
<link href="~/Content/bootstrapCustom.css" rel="stylesheet" />


<div class="outer-box">
    <!--outer box-->
    <div class="row">
        <!--row-->
        <div class="col-1">
            <!--col-->
            <div class="inner-box">1</div>
        </div>
        <div class="col-1">
            <!--col-->
            <div class="inner-box">1</div>
        </div>
        <div class="col-1">
            <!--col-->
            <div class="inner-box">1</div>
        </div>
        <div class="col-1">
            <!--col-->
            <div class="inner-box">1</div>
        </div>
    </div>
</div>

<div class="outer-box">
    <!--outer box-->
    <div class="row">
        <!--row-->
        <div class="col-1">
            <!--col-->
            <div class="inner-box">1</div>
        </div>
        <div class="col-1">
            <!--col-->
            <div class="inner-box">1</div>
        </div>
        <div class="col-1">
            <!--col-->
            <div class="inner-box">1</div>
        </div>
        <div class="col-1">
            <!--col-->
            <div class="inner-box">1</div>
        </div>
    </div>
</div>
