<header>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='@Url.Action("Index","Home")'>
                    <img class="img-responsive" src="~/Content/img/logo.jpg" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_rabappLoginPartial")
            </div>
        </nav>
    </div>
</header>