<div class="row">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="active">Current page</li>
    </ul>
</div>