<div class="sidebar" data-color="azure">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                placovu.com
            </a>
        </div>
        <ul class="nav">
            <li class="active">
                <a href="#">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-note2"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-news-paper"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-science"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-map-marker"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>

            <li>
                <a data-toggle="collapse" href="#componentsExamples" class="" aria-expanded="true">
                    <i class="pe-7s-plugin"></i>
                    <p>
                        Components
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="componentsExamples" aria-expanded="true">
                    <ul class="nav">
                        <li><a href="#">Buttons</a></li>
                        <li><a href="#">Grid System</a></li>
                        <li><a href="#">Icons</a></li>
                        <li><a href="#">Notifications</a></li>
                        <li><a href="#">Panels</a></li>
                        <li><a href="#">Sweet Alert</a></li>
                        <li><a href="#">Typography</a></li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="/ProcedureNotification">
                    <i class="pe-7s-bell"></i>
                    <p>Procedure Notification</p>
                </a>
            </li>

        </ul>
    </div>
</div>