
@{
    ViewBag.Title = "Surgical Concierge";
}

<div class="jumbotron" style="padding: 10px 0px; margin-bottom: 10px;">
    <h2 style="margin: 10px;">Surgical Concierge</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <table style="width: 100%;" id="jqDataTable" class="table table-striped table-bordered nowrap">
            <thead>
                <tr>
                    @*<th>
                            Category
                        </th>
                        <th>
                            Procedure
                        </th>*@
                    <th>
                        State
                    </th>
                    <th>
                        Start
                    </th>
                    <th>
                        End
                    </th>
                    <th>
                        Active
                    </th>
                    <th width="40px">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        App.loadDataTable(20, ("/Home/GetWorkFlowListAjax"));
    });
</script>

