@{
    ViewBag.Title = "Video";
}

<h2>Video</h2>
<div class="row">
    <div class="col-md-12">
        <video width="640" height="360" id="vd1">
            <source type="video/youtube" src="https://www.youtube.com/watch?v=A0Z-0Rmqaag" />
        </video>

    </div>
</div>




